@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

@font-face {
  font-family: "EditUndo";
  src: url("../fonts/editundo.ttf");
  font-display: swap;
  
}

.purple-button {
  color: white;
  margin: 0;
  padding: 0.5vh 10px 0.5vh 10px;
  border-radius: 5px;
  font-weight: 600;
  background-color: rgba(163, 54, 190, 0.792);
}

.purple-button a:hover, .purple-button a:visited, #learn-button a, #learn-button a:link, #learn-button a:visited, #learn-button a:hover, .purple-button a:link{
  color: rgb(255, 255, 255);
}

html, body {
  height: 100%;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(255, 255, 255);
  
}


.App {
    font-weight: 400;
    height: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.144) 1px 3px 5px 2px;
}

.App hr {
  margin: 0;
  height: 2px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  z-index: 999;
  background-color: white;
  top: 0;
  position: sticky;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.144) 1px 1px 2px 2px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  overflow: auto;
  font-family: 'Open Sans', sans-serif;
}

.nav-spacing {
  margin-top: 5vh;
}

a:hover, a:visited, a {
    text-decoration: none;
}

#left-align-nav {
  padding-left: 2vw;
  text-align: left;
}

#main-image { /*Nav image*/
    margin: 0;
    height: 27.5px;
}

#mainpage-image-mobile {
  display: none;
}

#tagline-frame {
  width: 50%;
}
#mainpage-image {
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-element, .nav-element img, .nav-element a {
  transition: 0.2s;
  margin-left: 5px;
  margin-right: 5px;
  color: #1b003d;
  font-size: 20px;
  display: inline-block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  line-height: 1.5;
  vertical-align: middle;
}
.nav-element a:hover {

}


.code-logo-name {
  color: #5500c3;
}

#decatur-logo-name {
  color: #5500c3;
}

.flex-container {
  display: flex;
}

.center {
    align-items: center;
    justify-content: center;
}


a:link, a:visited, a:active {
  color: black;
  
}

a:hover {
  color: rgb(122, 122, 122)
}

.language-section h1{
  font-size: 50px;
  font-family: 'EditUndo', cursive;
}


.uline:visited, .uline, .uline a:link, .uline:hover {
  text-decoration: underline;
}

.course-content a{
  text-decoration: underline;
}

.media-container {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    font-weight: 400;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.media-sub-container {
  justify-content: center;
  align-items: center;
}
.media-block h2 {
  color: #363636;
  font-size: 50px;
}

.socials {
  margin-top: 5%;
}

.socials img{
  height: 70px;
  width: 70px;
}

.media-block {
  display: inline-block;
  text-align: center;
  width: 40%;
}

.image-block {
  display: inline-block;
  margin-left: 10%;
  width: 20%;
}

.media-block a:link, .media-block a:visited, .media-block a:active, .media-block a:hover{
text-decoration: underline;
}

.main-desc {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 3% 3% 3% 3%;
  box-shadow: rgba(0, 0, 0, 0.144) 1px 3px 3px 2px;
}

p {
    line-height: 1.8;
}

.main-desc p {
    
  font-size: calc(16px + 6 * ((40vw - 320px) / 680));
  
}

.main-desc h1 {
  color: rgb(34, 34, 34); 
  font-size: calc(2vw + 20px);
  margin-bottom: 60px;
  max-width: 900px;
}

#banner-img {
  height: 13vw;
  width: 100%;
  object-fit: cover;
}

#learn-button {
  color: rgb(255, 255, 255);
  /*background-color: rgba(48, 117, 197, 0.794);*/
  background-color: rgba(163, 54, 190, 0.794);
  margin: 0;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 17px;
}

#inner-desc {
  margin-top: 50px;
  padding-right: 50px;
}

.purple {
  color: #5500c3 !important;
}

.margin-more {
  margin-left: 15%;
  margin-right: 15%;
}

#about-description {
  line-height: 1.4em;
  margin-left: 2%;
  max-width: 700px;
  font-size: 20px;
}

#about-description li {
  margin-bottom: 40px;
}

#about-image {
  width: 60%;
  padding-left: 50px;
  float: right;
}

#about-banner {
  text-align: center;
  padding-top: calc(2% + 20px);
  padding-bottom: 2%;
  margin-bottom: 2%;
  /*background-color: rgb(146, 224, 255);*/
}

#about-banner h1 {
  font-size: 3vw;
}

.pixel-font {
    /**font-family: 'EditUndo', serif;*/
}

.tutorials-frame {
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
  font-size: 0.8vw;
}


.tutorials {
  width: 88%;
}

.tutorial-navigation {
  width: 10%;
  margin-right: 2%;
  
}

.tutorial-navigation button {
  width: 100%;
  color: white;
  background-color: rgba(163, 54, 190, 0.792);
  padding: 0.5vh 0px 0.5vh 0px;
  border-radius: 3px;
}

.tutorial-row {
  
}

.ide {
  height: 60vh;
}

button {
  border: none;
  text-align: center;
  text-decoration: none;
  margin-bottom: 2px;
  cursor: pointer;
}


.projects-frame {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}
.projects-frame h1 {
  font-size: 80px;
}

.margin { 
  margin-left: 10%;
  margin-right: 10%;
}

.gatsby-resp-image-image, .gatsby-resp-image-background-image, .gatsby-resp-image-link{
  z-index: -1;
}

#introduction {
  height: 100%;
}

.projects-frame td, .projects-frame th {
  
  width: 500px;
}

.projects-frame table {
  margin-left: auto;
  margin-right: auto;
}

footer {
  align-content: center;
  vertical-align: middle;
  display: inline-block;
  margin-block-end: 0;
}

.tutorial-intro-frame {
  margin-bottom: 50px;
}

td.tutorial-list-table-element {
  width: 100%;
  padding-right: 40%;
}
th.tutorial-list-table-element {
  width: 20%;
}

#python-install-frame {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 40px;
  margin-bottom: 250px;
}

#python-install-frame img {
  float: left;
  margin-right: 5%;
  clear: right;
}

.course-container {
  margin-left: 16%;
  margin-right: 16%;
}

.mobile-nav {
  display: none;
}

.hamburger-icon div {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
}

.image-slider-caption {
  position: absolute;
  left: 0%;
  bottom: 0%;
  font-size: 1em;
  padding: 20px;
  color: rgb(255, 255, 255);
  text-shadow: black 0px 0px 10px;
  font-family: 'Open Sans', sans-serif;
}
.outer-slideshow-promo-container {
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slideshow-promo-container {
  width: 60%;
}



.hidden {
  display: none;
}

#footer-frame {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

#footer-frame h1 {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 0px;
}

.blog-preview h1, .blog-preview h2, .blog-preview h3, .blog-preview h4 {
  font-size: 20px;
}

#support-us-table {
  max-width: 600px;
}

#support-us-table button{
  padding: 0.2em 0.2em 0.2em 0.2em;
  font-size: 30px;
}

.blog-preview * {

}

.link-to-blog {
  font-size: 20px;
  font-weight: bold;
}

.featured-image {
  max-width: 600px;
  width: 70vw;
  padding-bottom: 20px;
}

.markdown-preview {
  margin-bottom: 20px;
  background-color: rgba(219, 219, 219, 0.233);
}

.preview-image {
  width: 300px;
}

.projects-table td{
  width: 60%;
}

.projects-table th{
  width: 20%;
}
.projects-table {
  min-width: 250px;
  width: 80%;
}
.slidesHolder, .slideContainer{
  min-height: 180px !important;
  height: 50vh !important;
}

.gatsby-resp-image-image {
  z-index: 0 !important;
}

/** For Mobile */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #about-banner h1 {
    font-size: 40px;
  }
  #about-image {
    display: none;
  }
  #mainpage-image-mobile {
    display: block;
    width: 100%;
    margin-bottom: 10%;
  }

  #tagline-frame {
    width: 100%;
  }
  #learn-button {
    

  }

  #mainpage-image {
    display: none;
    margin-left: 50px;
  }

  .outer-slideshow-promo-container {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slideshow-promo-container {
    width: 100%;
  }
  .slidesHolder, .slideContainer{
    height: 30vh !important;
  }
  .image-slider-caption {
    display: none;
  }

  #support-us-table {
    max-width: 400px;
  }
  
  #support-us-table button{
    padding: 0.2em 0.2em 0.2em 0.2em;
    font-size: 20px;
  }
  .featured-image {
    width: 70vw;
    padding-bottom: 20px;
  }
  .course h1 {
    font-size: 24px;
  }
  .course h2 {
    font-size: 22px;
  }
  .course h3 {
    font-size: 20px;
  }
  .course h4 {
    font-size: 18px;
  }
  .preview-image {
    display: none;
  }

  #main-image {
    padding: 0;
  }
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }

  #nav-logo {
    position: absolute;
   right: 0;
  }
  nav {
    padding-left: 0%;
    padding-right: 0%;
  }
  .nav-element {
    display: block;
  }
  #banner-img {
    height: 30vw;
  }
  .main-desc {
    margin-left: 10%;
    margin-right: 10%;
  }
  .main-desc h1 {
    font-size: 40px;
    margin-bottom: 0px;
  }
  .main-desc p {
    font-size: 18px;
  }
  #inner-desc {
    margin-top: 40px;
    margin-bottom: 0px;
    padding-bottom: 20px;
  }
  .media-block {
    width: 50%;
  }
  .media-block h2 {
    font-size: 35px;
  }
  .media-container {
    padding-top: 20px;
    font-size: 15px;
    margin-left: 5%;
    margin-right: 5%;
  }
  td.tutorial-list-table-element {
    padding-right: 0; 
  }

  .language-section h1 {
    font-size: 40px;
  }

  .tutorials-frame {
    font-size: 20px;
  }

  .tutorials-frame.flex-container{
    display: block;
  }
  .tutorial-navigation ol {
    text-align: center;
   
  }
  .tutorial-navigation {
    margin: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  .tutorials {
    width: 100%;
  }
}